<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix" dm="100">
			  
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
	$(function () {

		$("#pageId").load("doPageUI", doGetObjects);
		// 文档就绪事件
		//	查询时间按钮的注册
		$(".input-group-btn")
			.on("click",".btn-search", doQueryObjects)
		//添加删除按钮事件注册
			.on("click", ".btn-delete", doDeleteObjects)
		;

		// 添加thead中全选checkbox对象的事件注册
		$("#checkAll").change(doChangeTBodyCheckBoxState);

		//tbody 中 checkbox 对象的事件注册
		//$(".cBox").change(doChangeTHeadCheckBoxState); 不成立
		$("#tbodyId").on("change",".cBox",doChangeTHeadCheckBoxState);


	});
	// 修改theah中checkbox对象的状态
	function doChangeTHeadCheckBoxState(){
		// 定义变量标识，默认值为true
		var flag = true;
		//获取所有tbody中checkbox对象的值，并进行逻辑与操作
		$("#tbodyId input[type=checkbox]")
		.each(function (){
			flag = flag && $(this).prop("checked");
		});
		// 修改thead 中checkbox对象的状态
		$("#checkAll").prop("checked", flag);
	}
	// 修改tbody中checkbox对象的状态
	function doChangeTBodyCheckBoxState(){
		// 获取当前点击对象checkbox的状态
		var theadCheckBoxState=$(this).prop("checked");

		// 修改tbody中checkbox对象的状态
		$("#tbodyId input[type=checkbox]")
				.prop("checked",theadCheckBoxState);


	}
	// 获取页面上用户选中的tbody中的checkbox对象的值
	function doGetCheckedIds(){
		// 定义数组 用于存储获取的选中记录的id值
		var array=[];

		// 获取tbody对象中所有的checkbox对象，然后进行迭代，将选中的checkbox的值存储到数组中
		$("#tbodyId input[type='checkbox']")// 获取checkbox对象
		.each(function (){// 迭代遍历
			if($(this).prop("checked")){ // this是当前被遍历到的checkbox
				array.push($(this).val());
			}
		})
		return array;
	}

	//基于删除按钮的点击事件执行删除操作
	function doDeleteObjects(){
		// 获取用户选中的checkbox对象的值
		var checkedIds = doGetCheckedIds();
		// 对选中的记录id进行校验
		if (checkedIds.length == 0){
			alert("请先选中对象");
			return;
		}
		if (!confirm("确认删除么？"))return;
		// 构建向服务端传递请求参数对象，请求的url对象
		var params = "ids=" + checkedIds.toString();
		var url = "log/doDeleteObjects";
		// 发送异步请求执行删除的操作，并基于返回的结果，进行页面刷新
		$.post(url, params, function (result){
			if (result.state == 1){
				alert(result.message);
				//doGetObjects();
				doRefreshAfterDeleteOK();
			}else{
				alert(result.message);
			}
		})


	}
	//
	function doRefreshAfterDeleteOK(){
		var pageCount=$("#pageId").data("pageCount");
		var pageCurrent=$("#pageId").data("pageCurrent");
		var checkAllState=$("#checkAll").prop("checked");

		if(pageCurrent==pageCount&&checkAllState&&pageCurrent>1){
			pageCurrent--;
			$("#pageId").data("pageCurrent",pageCurrent);
		}
		doGetObjects();
	}

	// 基于查询按钮的点击时间，执行日志查询操作
	function doQueryObjects(){
		// 初始化当前页码值
		$("#pageId").data("pageCurrent", 1);
		// 执行查询的操作，重用doGetObject函数
		doGetObjects();
	}

	function doGetObjects(){
		// 每次查询的时候 将全选状态设置为不选中
		$("#checkAll").prop("checked", false);

		var pageCurrent = $("#pageId").data("pageCurrent");
		if (!pageCurrent)pageCurrent=1;
		let params={"pageCurrent": pageCurrent};
		//查询时 获取用户输入的用户名
		var username = $("#searchNameId").val();
			//向json对象动态添加key和value
			// params变量后面的参数名不能随意定义，要与访问的控制层方法参数名称一致
		if (username)params.username=username;

		let url="log/doFindPageObjects";

/* 		$.getJSON(url, params, function(result){
			//console.log("jsonResult", result);
			doHandleQueryResponseResult(result);
		})*/
		$.getJSON(url,params,function(result){//result-->JsonResult
			console.log(result);//json 格式的javascript对象
			doHandleQueryResponseResult(result);//处理响应结果
		})

	}
	function doHandleQueryResponseResult(result){
		if (result.state==1){
			doSetTableBodyRows(result.data.records);
			// 更新日志分页信息
			doSetPagination(result.data);
		}else{
			//alert(result.message);
			doSetQuerryErrors(result.message);
		}
	}

	function doSetQuerryErrors(message){
		//$("#tbodyId").html(`<tr><td colspan=7>${message}</td></tr>`);
		$("#tbodyId").html(`<tr><td colspan=7>${message}</td></tr>`);
		$(".rowCount").html("总记录数(0)");
		$(".pageCount").html("总页数(0)");
		$(".pageCurrent").html("当前页(1)");
	}

	// 更新tbody中的日志列表信息
	function doSetTableBodyRows(records){
		var tBody=$("#tbodyid");
		tBody.empty();

		for(const row of records){
			let tr=$("<tr></tr>");

			let tds=doCreateTds(row);
			tr.append(tds);

			tBody.append(tr);
		}
	}

	function doSetTableBodyRows(records){
		//1.获取tbody对象，并清空对象
		var tBody=$("#tbodyId");
		tBody.empty();
		//2.迭代records记录，并将其内容追加到tbody
		for(var i in records){
			//2.1 构建tr对象
			var tr=$("<tr></tr>");
			//2.2 构建tds对象
			var tds=doCreateTds(records[i]);
			//2.3 将tds追加到tr中
			tr.append(tds);
			//2.4 将tr追加到tbody中
			tBody.append(tr);
		}
	}

	function doCreateTds(data){
		var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
				"<td>"+data.username+"</td>"+
				"<td>"+data.operation+"</td>"+
				"<td>"+data.method+"</td>"+
				"<td>"+data.params+"</td>"+
				"<td>"+data.ip+"</td>"+
				"<td>"+data.time+"</td>";
		return tds;

	}

</script>

































<!--<script type="text/javascript">
   //JS 问题如何解决? console.log(),debugger,排除法
   $(function(){
	   //在log_list.html页面的pageId位置，加载page.html,合二为一。
	   $("#pageId").load("doPageUI",function(){//资源加载完成执行
		   doGetObjects();//异步加载日志信息
	   });
	   //查询按钮事件注册
	   $(".input-group-btn")
	   .on("click",".btn-search",doQueryObjects)
	   .on("click",".btn-delete",doDeleteObjects)
	   
	   //thead中全选checkbox事件注册
	   $("#checkAll").click(doChangeTBodyCheckBoxState);
	   //tbody中checkbox对象事件注册
	   $("#tbodyId").on("click",".cBox",doChangeTHeadCheckBoxState)
   })
   //基于tbody中checkbox对象的状态修改thread中checkbox对象状态
   function doChangeTHeadCheckBoxState(){
	   //1.获得tbody中所有checkbox对象进行逻辑与结果
	   var flag=true;
	   $("#tbodyId input[type='checkbox']")
	   .each(function(){
		   flag=flag&&$(this).prop("checked");
	   });
	   //2.修改thead中checkbox对象的状态值。
	   $("#checkAll").prop("checked",flag)
   }
   
   //基于thead中checkbox状态修改tbody中checkbox状态
   function doChangeTBodyCheckBoxState(){
	   //1.获取thead中checkbox对象状态
	   var flag=$(this).prop("checked");
	   //2.修改tbody中checkbox对象状态
	   $("#tbodyId input[type='checkbox']").prop("checked",flag);
   }
   //获取选中的checkbox对象的id
   function doGetCheckedIds(){
	   //定义js数组
	   var array=[];
	   //获取所有tbody对象内部选中的checkbox对象的值，并将其放入数组
	   $("#tbodyId input[type='checkbox']")
	   //each函数表示迭代，这里用于迭代checkbox对象
	   .each(function(){
		    if($(this).prop("checked")){//判定checkbox是否已选中
		    	//push用于向数组中放数据
		    	array.push($(this).val())//val()获取value属性的值
		    }
	   });
	   return array;
   }
   //删除动作实现
   function doDeleteObjects(){
	   //1.获取选中的checkbox对象value属性的值，并存储到数组。
	   var idArray=doGetCheckedIds();
	   debugger
	   //2.校验数组内容
	   if(idArray.length==0){
		   alert("请先选择");
		   return;
	   }
	   //3.给出提示，确定删除吗？
	   if(!confirm("确定删除吗"))return;
	   //4.执行异步删除操作
	   //4.1定义删除的url
	   var url="log/doDeleteObjects"
	   //4.2定义删除参数
	   var params={"ids":idArray.toString()};//[1,2,3]&#45;&#45;toString-&ndash;&gt;1,2,3
	   //4.3发送异步请求执行删除
	   $.post(url,params,function(result){
		   if(result.state==1){
			   alert(result.message);
			   //刷新当前页面
			   doRefreshAfterDeleteOK();
		   }else{
			   doSetErrorMsg(result.message);
		   }
	   });  
   }
   //设置删除错误信息
   function doSetErrorMsg(msg){
	   $("#tbodyId").html("<tr><td colspan='7'>"+msg+"</td></tr>");
   }
   //删除后的刷新操作
   function doRefreshAfterDeleteOK(){
	   //1.假如当前页码值不是最后一页,页码值不变。
	   //2.修改当前页码值为上一页的页码值，但必须满足如下几个条件
	   //1)当前页码值已经是最后一页
	   //2)当前页码值大于>1
	   //3)还有Thead中checkbox对象状态为全选状态
	   var pageCurrent=$("#pageId").data("pageCurrent");
	   var pageCount=$("#pageId").data("pageCount");
	   var checkAllState=$("#checkAll").prop("checked");
	   if(checkAllState&&pageCurrent==pageCount&&pageCurrent>1){
		   pageCurrent&#45;&#45;;
		   $("#pageId").data("pageCurrent",pageCurrent);
	   }
	   //3.查询日志信息
	   doGetObjects();
	   
   }
   
   //基于条件查询日志记录
   function doQueryObjects(){
	   //1.初始化当前页码值为1，表示从第一页开始显示
	   $("#pageId").data("pageCurrent",1);
	   //2.执行查询操作
	   doGetObjects();
   }
   //异步加载日志数据
   function doGetObjects(){
	   $("#checkAll").prop("checked",false);
	   //1.定义请求参数
	   //这个值最初是在page.html中进行了绑定
	   var pageCurrent=$("#pageId").data("pageCurrent");//data(key)表示获取值
	   if(!pageCurrent)pageCurrent=1;
	   //var params="pageCurrent="+pageCurrent;//{"pageCurrent":1}
	   var params={"pageCurrent":pageCurrent}
	   //获取查询时参数username的值(可能有值，也可能没有值)
	   var uname=$("#searchNameId").val();
	   //假如uname有值，则将key:value添加到params对象中,这里的key需要与控制器方法参数相同
	   if(uname)params.username=uname;
	   //2.定义请求url
	   var url="log/doFindPageObjects";
	   //3.发送异步请求加载数据，并处理响应结果
	   $.getJSON(url,params,function(result){//result&ndash;&gt;JsonResult
		   console.log(result);//json 格式的javascript对象
		  // debugger
	       doHandleResponseResult(result);//处理响应结果
	   })
   }
   //处理服务端响应结果
   function doHandleResponseResult(result){//jsonResult
	   if(result.state==1){
		   //1.将数据显示在table的tbody位置
		   doSetTableBodyRows(result.data.records);//result.data&ndash;&gt;pageObject
		   //2.在pageId位置显示分页信息
		   doSetPagination(result.data);//pageObject
	   }else{
		  // alert(result.message);//服务端的异常
		   doSetErrorMsg(result.message);
	   }
   }
   //将服务器端返回的日志信息呈现在table的tbody位置。
   function doSetTableBodyRows(records){
	   //1.获得tbody对象，并清空内容
	   var tBody=$("#tbodyId");
	   tBody.empty();//清空
	   //2.迭代日志记录，将所有的记录追加到tbody中
	   for(var i=0;i<records.length;i++){
		   //2.1构建tr对象
		   var tr=$("<tr></tr>");
		   //2.2构建多个td对象
		   var tds=doCreateTds(records[i]);
		   //2.3将tds追加到tr
		   tr.append(tds);
		   //2.4将tr追加到tbody
		   tBody.append(tr);
	   }
   }
   function doCreateTds(row){
	   var tds=
	    "<td><input type='checkbox' class='cBox' value='"+row.id+"'></td>"+
	    "<td>"+row.username+"</td>"+
	    "<td>"+row.operation+"</td>"+
	    "<td>"+row.method+"</td>"+
	    "<td>"+row.params+"</td>"+
	    "<td>"+row.ip+"</td>"+
	    "<td>"+row.time+"</td>";
	    return tds;
   }
</script>-->






